/Client/overrides/config/agricraft/json/defaults/
/Client/overrides/config/armoryexpansion/
/Client/overrides/config/biomesoplenty/biomes/


/Client/overrides/config/enderio/recipes/*.pdf
/Client/overrides/config/enderio/recipes/*.xsd
/Client/overrides/resources/contenttweaker/
/Client/overrides/config/acronym/saved/


/Client/overrides/config/creativecore.json
/Client/overrides/config/littleframes-client.json
/Client/overrides/config/serializationisbad.json
/Client/overrides/config/serializationisbad-remotecache.json
/Client/overrides/config/jei/worldSettings.cfg
/Client/overrides/config/roots/runed_wood.cfg